$font_roboto: "Roboto", sans-serif;

$font_size_small: 14px;
$font_size_normal: 24px;

$font_weight_small: 100;
$font_weight_normal: 300;
$font_weight_large: 500;

$color_white: #fff;
$color_gray: #888;
$color_gray_dark: #666;
$color_gray_light: #ccc;

$border-bottom: 2px solid #E8E8E8;